<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
	<ul class="sidebar-nav" id="sidebar-nav">

		<li class="nav-item" (click)="goToHome()">
			<a class="nav-link">
				<i class="bi bi-grid"></i>
				<span>Dashboard</span>
			</a>
		</li><!-- End Dashboard Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
				<i class="bi bi-bar-chart"></i><span>Get Details</span><i class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="charts-nav" class="nav-content" data-bs-parent="#sidebar-nav">
				<li (click)="goToResults()">
					<a>
						<i class="bi bi-circle"></i><span>Get Results</span>
					</a>
				</li>
				<li (click)="goToCertificateStatus()">
					<a>
						<i class="bi bi-circle"></i><span>Get Certificate Status</span>
					</a>
				</li>
				<li (click)="goToHallTicket()">
					<a>
						<i class="bi bi-circle"></i><span>Get Hallticket</span>
					</a>
				</li>
			</ul>
		</li><!-- End Charts Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
				<i class="bi bi-journal-text"></i><span>Application Forms</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
				<li (click)="goToSemesterApplication()">
					<a>
						<i class="bi bi-circle"></i><span>Regular</span>
					</a>
				</li>
				<li (click)="goToSupplySemesterApplication()">
					<a>
						<i class="bi bi-circle"></i><span>supplymentary</span>
					</a>
				</li>
				<li (click)="goToCertificateApplication()">
					<a>
						<i class="bi bi-circle"></i><span>Apply for Certificate</span>
					</a>
				</li>
				<li (click)="goToRevaluation()">
					<a>
						<i class="bi bi-circle"></i><span>Apply for Revaluation</span>
					</a>
				</li>
			</ul>
		</li><!-- End Forms Nav -->


		<li class="nav-heading">Pages</li>

		<li class="nav-item" (click)="goToProfile()">
			<a class="nav-link collapsed">
				<i class="bi bi-person"></i>
				<span>Profile</span>
			</a>
		</li><!-- End Profile Page Nav -->

		<li class="nav-item" (click)="goToNewsFeed()">
			<a class="nav-link collapsed">
				<i class="bi bi-layout-text-window-reverse"></i>
				<span>News Feeds</span>
			</a>
		</li><!-- End Newsfeed Page Nav -->

		<li class="nav-item" (click)="goToNotifications()">
			<a class="nav-link collapsed">
				<i class="bi bi-bell"></i>
				<span>Notifications</span>
			</a>
		</li><!-- End Notifications Page Nav -->

		<li class="nav-item" (click)="goToPayment()">
			<a class="nav-link collapsed">
				<i class="bi bi-credit-card"></i>
				<span>Payment</span>
			</a>
		</li><!-- End Payment Page Nav -->


		<li class="nav-item" (click)="goToContact()">
			<a class="nav-link collapsed">
				<i class="bi bi-envelope"></i>
				<span>Contact</span>
			</a>
		</li><!-- End Contact Page Nav -->

		<li class="nav-item" (click)="goToMap()">
			<a class="nav-link collapsed">
				<i class="bi bi-map"></i>
				<span>Map</span>
			</a>
		</li><!-- End map Page Nav -->

		<li class="nav-item" (click)="goToRegister()">
			<a class="nav-link collapsed">
				<i class="bi bi-card-list"></i>
				<span>Register</span>
			</a>
		</li><!-- End Register Page Nav -->

		<li class="nav-item" (click)="goToLogin()">
			<a class="nav-link collapsed">
				<i class="bi bi-box-arrow-in-right"></i>
				<span>Logout</span>
			</a>
		</li><!-- End Login Page Nav -->

	</ul>

</aside><!-- End Sidebar-->
