<ngx-loading [show]="loading"></ngx-loading>

<body class="{{class_name}}">
	<app-header (toggleEvent)="changeClass()"></app-header>

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Profile</h1>
		</div><!-- End Page Title -->

		<section class="section profile">
			<div class="row">
				<div class="col-xl-4">

					<div class="card">
						<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
							<img src="{{user_data.picture}}" alt="Profile" class="pp rounded-circle">
							<h2>{{user_data.first_name}} {{user_data.last_name}}</h2>
							<h3>{{user_data.roll}}, {{user_data.regulation}}</h3>
						</div>
					</div>

				</div>

				<div class="col-xl-8">

					<div class="card">
						<div class="card-body pt-3">
							<!-- Bordered Tabs -->
							<ul class="nav nav-tabs nav-tabs-bordered">

								<li class="nav-item">
									<button class="nav-link active" data-bs-toggle="tab"
										data-bs-target="#profile-edit">Edit
										Profile</button>
								</li>

								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#profile-change-password">Settings</button>
								</li>

							</ul>
							<div class="tab-content pt-2">

								<div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">

									<!-- Profile Edit Form -->
									<form #profileForm="ngForm" (ngSubmit)="updateProfile(profileForm.value)">
										<div class="row mb-3">
											<label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile
												Image</label>
											<div class="col-md-8 col-lg-9">
												<img src="{{user_data.picture}}" alt="Profile">
													<div class="pt-2">
														<input type="file" #fileInput (change)="handleFileInput($event)">
														<div class="btn btn-primary btn-sm mx-1"
															title="Upload new profile image"><i
																class="bi bi-upload" (click)="uploadFile()"></i></div>
														<div class="btn btn-danger btn-sm mx-1"
															title="Remove my profile image"><i
																class="bi bi-trash"></i></div>
													</div>
											</div>
										</div>
										<div class="row mb-3">
											<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full
												Name</label>
											<div class="col-md-8 col-lg-9">
												<input name="name" ngModel type="text" class="form-control"
													id="fullName">
											</div>
										</div>
										<div class="row mb-3">
											<label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
											<div class="col-md-8 col-lg-9">
												<input name="email" ngModel type="email" class="form-control"
													id="Email">
											</div>
										</div>
										<div class="text-center">
											<button type="submit" class="btn btn-primary">Save Changes</button>
										</div>
									</form><!-- End Profile Edit Form -->

								</div>

								<div class="tab-pane fade pt-3" id="profile-change-password">
									<!-- Change Password Form -->
									<form #passForm="ngForm" (ngSubmit)="updatePasswd(passForm.value)">
										<div class="row mb-3">
											<label for="currentPassword"
												class="col-md-4 col-lg-3 col-form-label">Current
												Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="passwd" type="password" class="form-control"
													id="currentPassword" ngModel>
											</div>
										</div>
										<div class="row mb-3">
											<label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New
												Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="npasswd" type="password" class="form-control"
													id="newPassword" ngModel>
											</div>
										</div>
										<div class="row mb-3">
											<label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter
												New Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="cnpasswd" type="password" class="form-control"
													id="renewPassword" ngModel>
											</div>
										</div>
										<div class="text-center">
											<button type="submit" class="btn btn-primary">Change Password</button>
										</div>
									</form><!-- End Change Password Form -->
								</div>
							</div><!-- End Bordered Tabs -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<app-footer></app-footer>
</body>
