<section class="text-center">
	<div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>

	<div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
		<div class="card-body py-5 px-md-5">

			<div class="row d-flex justify-content-center">
				<div class="col-lg-8 form-body p-5">
					<h2 class="fw-bold mb-5">Register here</h2>
					<form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)">
						<div class="form-outline mb-4">
							<label class="form-label" for="roll">Enter Roll Number</label>
							<input type="text" id="roll" ngModel name="roll" class="form-control" />
						</div>
						<div class="row">
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="firstname">Enter First name</label>
									<input type="text" id="firstname" ngModel name="first_name" class="form-control" />
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="lastname">Enter Last name</label>
									<input type="text" id="lastname" ngModel name="last_name" class="form-control" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-4">
								<div class="form-outline mb-4">
									<label class="form-label" for="email">Enter Email</label>
									<input type="email" id="email" ngModel name="email" class="form-control" />
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="form-outline mb-4">
									<label class="form-label" for="email">Graduation Type</label>
									<select ngModel name="graduation_type" id="graduation_type" class="form-select">
										<option value="">Select Option</option>
										<option value="Btech">B.tech</option>
										<option value="Mtech">M.tech</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="phone">Enter phone number</label>
									<input type="text" id="phone" ngModel name="phone" class="form-control" />
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="father_name">Enter Father name</label>
									<input type="text" id="father_name" ngModel name="father_name" class="form-control" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="pass">Enter Password</label>
									<input type="password" id="pass" ngModel name="passwd" class="form-control" />
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="cpass">Confirm Password</label>
									<input type="password" id="cpass" ngModel name="cpasswd" class="form-control" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="pass">Enter Regulation</label>
									<select id="regulation" ngModel name="regulation" class="form-select">
										<option value="">Select option</option>
										<option value="R16">R16</option>
										<option value="R19">R19</option>
										<option value="R20">R20</option>
										<option value="R23">R23</option>
										<option value="R26">R26</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="form-outline">
									<label class="form-label" for="cpass">Passed Out year</label>
									<select ngModel name="batch" id="batch" class="form-select">
										<option value="" selected>Select Option</option>
										<option value="{{current_year}}">{{current_year}}</option>
										<option value="{{current_year + 1}}">{{current_year + 1}}</option>
										<option value="{{current_year + 2}}">{{current_year + 2}}</option>
										<option value="{{current_year + 3}}">{{current_year + 3}}</option>
									</select>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary btn-block mb-4">
							Click to Register
						</button>
						<hr />
						<a href="/login">Already have an account?</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section: Design Block -->
