<body class="{{class_name}}">
	<app-header (toggleEvent)="changeClass()"></app-header>

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Certification Application</h1>
		</div><!-- End Page Title -->

		<section class="bg-image">
			<div class="p-lg-5 p-md-3 p-sm-0 mask d-flex align-items-center h-100 gradient-custom-3">
				<div class="container h-100">
					<div class="row d-flex justify-content-center align-items-center h-100">
						<div class="col-12 col-md-9 col-lg-7 col-xl-6">
							<div class="card" style="border-radius: 15px;">
								<div class="card-body p-5">
									<h2 class="text-center  fw-bold mb-5">Certification Appication Form</h2>
									<form #ApplictionForm="ngForm" (ngSubmit)="uploadReceipt(ApplictionForm.value)">
										<div class="form-outline mb-4">
											<label class="form-label" for="roll">Roll Number</label>
											<input type="text" [(ngModel)]="roll" id="roll" name="roll"
												class="form-control form-control-lg" disabled="true"/>
										</div>
										<div class="form-outline mb-4">
											<label class="form-label" for="application_type">Select Application
												Type</label>
											<select ngModel class="form-select form-select-lg" name="application_type"
												id="application_type">
												<option value="">Select One Option</option>
												<option value="bonafide">Bonafide</option>
												<option value="custodian">Custodian</option>
												<option value="course_completion_certificate">Course Completion
													Certificate</option>
											</select>
										</div>
										<div class="form-outline mb-4">
											<label class="form-label" for="roll">Enter your name</label>
											<input type="text" ngModel id="name" name="name"
												class="form-control form-control-lg" />
										</div>
										<div class="form-outline mb-4">
											<label class="form-label" for="purpose">Purpose</label>
											<input type="text" id="purpose" ngModel name="purpose"
												class="form-control form-control-lg" />
										</div>
										<!-- <div class="form-outline mb-4">
											<label class="form-label" for="duration">Duration</label>
											<select ngModel class="form-select form-select-lg" name="duration"
												id="duration">
												<option value="">Select One Option</option>
												<option value="6">6 Months</option>
												<option value="12">1 year</option>
												<option value="18">1.5 Year</option>
												<option value="24">2 Year</option>
											</select>
										</div> -->
										<!-- <hr />
										<div class="text-center">
											<h6>Pay using out payment gateway</h6>
											<a class="btn btn-primary" href="/payment">Pay</a>
											<h4 class="mt-2">Or</h4>
										</div>
										<hr /> -->
										<div class="form-outline mb-4">
											<label class="form-label" for="DU_number">DU Number / Payment ID</label>
											<input type="text" id="DU_number" [(ngModel)]="DU_number" name="DU_number"
												class="form-control form-control-lg" />
										</div>
										<input class="btn mb-3" type="file" #fileInput
											(change)="handleFileInput($event)">
										<div class="form-outline mb-4">
											<label class="form-label" for="date_of_payment">Date of Payment</label>
											<input type="date" id="date_of_payment" ngModel name="date_of_payment"
												class="form-control form-control-lg" />
										</div>
										<div class="d-flex justify-content-center">
											<input type="submit" class="btn btn-primary btn-block mb-4"
												value="Submit" />
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="light">

		</section>
	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<app-footer></app-footer>

</body>
